.new-friend-search-holder{
    padding: 20px 30px 20px 30px;
}

#friend-request-input{
    width: 100%;
    font-size: 16px;
    padding: 15px;
    background-color: #1E1F22;
    border: none;
    border-radius: 10px;
    color: #DBDEE1;
}

.button-hover{
    box-sizing: content-box;
    width: fit-content;
}

.list-title{
    font-size: 12px;
    color: #B5BAc1;
    margin: 20px;
}

.friends-list-item{
    border-top: 2px solid #393C41;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    color: #F2F3F5;
}

.friends-list-item:hover{
    cursor: pointer;
    background-color: #393C41;
}