:root {
    --login-box-height: 408px;
    --login-box-width: 784px
}

.login-box{
    position: absolute;
    top: calc(50vh - (var(--login-box-height) / 2));
    left: calc(50vw - (var(--login-box-width) / 2));
    width: var(--login-box-width);
    height: var(--login-box-height);
    display: flex;
    justify-content: space-evenly;
    background-color: 		#424549;
    color: white;
}

.login-fields{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.login-fields input{
    display: block;
    background-color: 	#1e2124;
    color: white;
    width: 100%;
}

.login-box button, .login-box input[type="submit"] {
    background-color:#7289da;
    color: white;
    width: 100%;
}
.demo-buttons{
    display: flex;
    flex-direction: column;
}
.other-stuff{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.error-message{
    display: inline;
    color: hsl(358 calc(1*92.9%) 72.4%/1);
}