:root{
    --label-text-color: #949BA4;
    --channel-link-color: #949BA4;
    --server-options-wheel-color: #2B2D31;
}

.left-panel{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #2B2D31;
    width: 240px;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
}

.left-panel-drop-down{
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid #1F2023;
    color: #F2F3F5;
}

.search-bar{
    width: 90%;
    background-color: var(--input-box-background) ;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
}

.left-panel > div{
    width: 100%;
}

.in-channel{
    background-color: #35373C;
}

.label-for-channels-drop-down{
    color: var(--label-text-color);
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.label-for-channels-drop-down:hover{
    cursor: pointer;
}

.label-for-channels-drop-down > label {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.label-for-channels-drop-down > label:hover{
    color: #DBDED6;
}


.label-for-channels-drop-down > div:hover{
    color: #DBDED6;
}

.channels-drop-down a{
    text-decoration: none;
    color: var(--channel-link-color);
}

.channels-drop-down > div:hover{
    --channel-link-color: #DBDEE1;
}

.left-panel-option{
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}

.left-panel-option:hover{
    color: #DBDEE1;
    background-color: #35373C;
    cursor: pointer;
}

.selected-channel{
    background-color: #35373C;
    color: white;
}

.left-panel-drop-down:hover{
    background-color: #35373C;
    cursor: pointer;
    --server-options-wheel-color: #F2F3F5;
}

.server-options-wheel{
    transition: color 0.25s ease;
    color: var(--server-options-wheel-color)
}

.server-options-wheel:hover{
    cursor: pointer;
}