:root{
    --green-button-color: #23A559;
}

.server-scroller{
    display: flex;
    flex-direction: column;
    width: 72px;
    align-items: center;
    background-color: hsl( 225 calc( 1 *6.3%) 12.5% /1);
    overflow: auto;
    padding-top: 10px;
}

#friend-list-selector > img {
    height: 40%;
}

.server-list-item{
    background-color: #313338;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all 0.25s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
}

.server-list-item-selected{
    border-radius: 17px;
}

.server-list-item:hover{
    background-color: #5865F2;
    color: white;
    cursor: pointer;
    border-radius: 17px;
}

#add-server-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--green-button-color);
    font-size: 24px;
}

#add-server-button:hover{
    --green-button-color: white;
    background-color: #23A559;
    border-radius: 17px;
}

.chosen{
    background-color: #5865F2;
    color: white;
    border-radius: 17px;
}

.making-server{
    --green-button-color: white;
    background-color: #23A559;
    border-radius: 17px;
}