.modal-background{
    position: absolute;
    top:0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
}

.modal-base{
    transition: background-color 0.25s ease;
}