.modal-background{
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
}

.modal-base{
    position: absolute;
    top:0;
    display: flex;
    width: 100vh;
    height: 100vh;
    flex-direction: column;
    transition: background-color 0.25s ease;
}