#user-options-errors{
    display: flex;
    flex-direction: column;
}

#username-change-section{
    padding-left: 20px;
    padding-bottom: 20px;
}

#save-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#username-change-box{
    margin-top: 5px;
    color: #DBDEE1;
    background-color: #1E1F22;
    padding: 11px 10px 11px 10px;
    border-radius: 5px;
    border: none;
}