.splash-first{
    display: flex;
}

.full-logo{
    width: 124px;
}

.svg-image{
    width: 100%;
    box-sizing: content-box;
    position: relative;

}

.splash-first{
    display: flex;
    align-items: end;
    background-color: #404EED;
    background-image: url('../../Assets/splash-back.png');
    height: 626px;
}