.messaging-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 100%;
}

.messaging-box-holder{
    padding: 24px;
}

.message-box{
    color: #DBDEE1;
    background-color: #383A40;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 11px 10px 11px 10px;
}